<!DOCTYPE html>
<title>chat</title>
<script src="http://labfile.oss.aliyuncs.com/jquery/2.1.3/jquery.min.js"> </script>
<style>body { max-width: 500px; margin: auto; padding: 1em; background: black; color: #fff; 
    font: 16px/1.6 menlo, monospace; }</style>
<p><b>Hi, {{ user }}!</b></p>
<p>Message: <input id="in" /></p>
<pre id="out"></pre>
<script>
    function sse() {
        // 接入服务器的事件流
        var source = new EventSource('/stream');
        var out = document.getElementById('out');
        source.onmessage = function(e) {
            out.innerHTML = e.data + '\n' + out.innerHTML;
        };
    }
    // POST 消息到服务器
    $('#in').keyup(function(e){
        if (e.keyCode == 13) {
            $.post('/post', {'message': $(this).val()});
            $(this).val('');
        }
    });
    sse();
</script>
